{% extends 'BloggerAdminBundle::layout.html.twig' %}

{% block body %}
    <h1>Editing {{ blog.title }} </h1>
    {{ render(controller('BloggerAdminBundle:Post:edit', {'blog_id': blog.id } )) }}
{% endblock %}