{% extends 'BloggerAdminBundle::layout.html.twig' %}

{% block body %}
    <h1>Editing {{ blog.title }} </h1>
    {% include 'BloggerAdminBundle:Post:form.html.twig' with { 'form': form } %}
{% endblock %}