{% extends 'BloggerAdminBundle::layout.html.twig' %}

{% block body %}
    <h1>Editing {{ category.name }} </h1>
    {{ render(controller('BloggerAdminBundle:Category:edit', {'categoryId': category.id } )) }}
{% endblock %}