<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset=utf-8" />
    <title>{% block title %}symblog{% endblock %} - symblog</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--visual editor-->
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script>
        tinymce.init({selector:'textarea'});
    </script>
    <!--/////visual editor-->

    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    <script type="text/javascript">
        function startTime()
        {
            var tm=new Date();
            var h=tm.getHours();
            var m=tm.getMinutes();
            var s=tm.getSeconds();
            m=checkTime(m);
            s=checkTime(s);
            document.getElementById('lab').innerHTML=h+":"+m+":"+s;
            t=setTimeout('startTime()',500);
        }
        function checkTime(i)
        {
            if (i<10)
            {
                i="0" + i;
            }
            return i;
        }
    </script>
</head>
<body onload="startTime()">
<section id="wrapper">
    <header id="header">
        <hgroup>
            <h2>{% block blog_title %}<a href="{{ path('BloggerAdminBundle_homepage') }}">AdminPanel</a>{% endblock %}</h2>
            <h3>{% block blog_tagline %}<a href="{{ path('BloggerAdminBundle_homepage') }}">admin is a God of his site</a>{% endblock %}</h3>
        </hgroup>
    </header>

    <div style="text-align: center; font-family: 'La Belle Aurore', cursive; font-size: 24px; margin-bottom: 20px; font-weight: normal"><span id="lab"></span></div>

    <section class="main-col">
        {% block body %}{% endblock %}
    </section>
    <aside class="sidebar">
        {% block sidebar %}{% endblock %}
    </aside>

    <div id="footer">
        {% block footer %}
            Symfony2 blog tutorial - created by <a href="https://github.com/dsyph3r">dsyph3r</a>
        {% endblock %}
    </div>
</section>

{% block javascripts %}{% endblock %}
</body>
</html>