{# src/Blogger/BlogBundle/Resources/views/Page/category.html.twig #}
{% extends 'BloggerBlogBundle::Page/index.html.twig' %}

{% block body %}
    <h1>Blogs in category {{ category.name }}</h1>
    {{ parent(category) }}
{% endblock %}